@import './global';
@import './normalize';

body {
    font-family: $font-opensans;
    font-weight: 600;
    font-style: normal;
    background: #F5F7F9;
}

.main_container {
    max-width: 1440px;
    margin: 0 auto;

    @include media(1480) {
        max-width: calc(100% - 40px);
    }
}

.text {
    &-h1 {
        font-weight: bold;
        font-size: 64px;
        color: $color-black-100;
        font-family: $font-raleway;

        @include media(1100) {
            font-size: 32px;
        }

        span {
            color: $color-green-100;
            display: inline;
        }
    }
}

.sm_line {
    width: 60px;
    height: 10px;
    background: $color-green-100;
    margin: 25px 0;

    @include media(1100) {
        width: 30px;
        height: 5px;
    }
}

.btn {
    &_darkblue {
        background: $color-black-100;
        color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 0 28px;
        border-radius: 20px;
        font-size: 24px;

        @include media(1100) {
            padding: 28px 0 27px 0;
        }

        span {
            span {
                color: $color-green-100;
            }
        }
    }

    &_lightblue {
        background: $color-blue-300;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        padding: 15px 22px 16px 31px;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        
        @include media(1100) {
            padding: 11px 20px 12px 26px;
        }
    }

    &_green {
        background: $color-green-100;
        color: #fff;
        font-family: $font-raleway;
        padding: 18px 0 19px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    &_light {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        background: $color-light-100;
        color: $color-black-100;
        font-size: 20px;
        font-weight: bold;
        padding: 18px 32px;
        border-radius: 20px;
    }
}

// Home
.home {
    padding: 141px 0 0;
    margin-bottom: 130px;

    @include media(1100) {
        padding-top: 31px;
        margin-bottom: 52px;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 85px;

        @include media(1350) {
            gap: 30px;
        }

        @include media(1100) {
            flex-direction: column-reverse;
            gap: 55px;
        }

        &_left {
            width: 530px;
            flex-shrink: 0;

            @include media(1350) {
                width: 450px;
            }

            @include media(1100) {
                width: 100%;
            }
        }

        &_right {
            width: 100%;
            padding-top: 5px;

            @include media(1100) {
                padding-top: 0;
            }

            h4 {
                color: $color-blue-200;
                margin-bottom: 40px;
                font-size: 36px;
                font-weight: 600;

                @include media(1100) {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }

            h3 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 30px;
                color: $color-black-100;

                @include media(1100) {
                    font-size: 32px;
                    margin-bottom: 46px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding-right: 107px;

                @include media(1350) {
                    padding-right: 0;
                }

                span {
                    width: 37.5px;
                    height: 37.5px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid $color-green-100;
                    color: $color-green-100;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 16px;
                }

                p {
                    color: $color-blue-200;
                    font-size: 36px;
                    font-weight: 600;

                    @include media(1100) {
                        font-size: 24px;
                    }
                }
            }
        }
    }

    &__card {
        &_msg {
            display: flex;
            flex-direction: column;
            gap: 21px;
            margin-bottom: 49px;

            @include media(1100) {
                gap: 32px;
                margin-bottom: 39px;
            }

            .msg {
                &_start {
                    p {
                        display: inline-block;
                        border-radius: 100px;
                        padding: 20px 35px 24px;
                        background: $color-blue-100;
                        color: #fff;
                        font-size: 22px;
                        font-weight: 500;
                        position: relative;

                        @include media(1100) {
                            font-size: 20px;
                            padding: 19px 36px 22px;
                        }

                        img {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }

                &_end {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    p {
                        display: inline-block;
                        padding: 20px 29px 15px 32px;
                        position: relative;
                        z-index: 1;
                        font-size: 22px;

                        @include media(1100) {
                            padding: 23px 28px 21px 32px;
                            white-space: nowrap;
                        }

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            z-index: -1;
                        }
                    }
                }
            }
        }

        &_networks {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 31px;
            position: relative;

            @include media(1400) {
                margin-top: 60px;
            }

            @include media(1100) {
                display: none;
            }

            .icon {
                position: absolute;
                top: -3.5px;
                left: 85px;
                transform: translateY(-100%);
            }

            li:last-child {
                padding-left: 8px;
            }

            a {
                font-size: 24px;
                font-weight: bold;
            }

            p {
                position: relative;
                margin-top: 4px;
                font-size: 16px;
                font-weight: 600;
                padding-left: 19px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: $color-green-100;
                }
            }
        }

        &_img {
            border-radius: 20px;
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
// Home end

// Clients
.clients {
    padding: 73px 0 101px;
    background: #fff;

    @include media(1100) {
        padding-bottom: 52px;
    }

    &__description {
        color: $color-blue-200;
        font-size: 32px;
        font-weight: 600;
        margin: 88px 0 42px;

        @include media(1100) {
            font-size: 24px;
            margin: 20px 0;
        }
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 35px 45px;

        @include media(1100) {
            gap: 20px;
        }

        &_item {
            width: calc(100% / 3 - 30px);
            background: $color-light-100;
            border-radius: 20px;
            padding: 20px;

            @include media(1400) {
                width: calc(50% - 22.5px);
            }

            @include media(1100) {
                width: 100%;
            }

            &__head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 22px;
            }

            a {
                color: $color-blue-200;
                font-size: 20px;
                text-decoration: underline;

                @include media(1100) {
                    font-size: 16px;
                }
            }

            .alert {
                padding: 7px 19px 6px;
                background: $color-blue-200;
                color: #fff;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 600;

                @include media(1100) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 32px;
                font-weight: bold;
                color: $color-black-100;

                @include media(1100) {
                    font-size: 24px;
                }

                span {
                    display: inline;
                    color: $color-green-100;
                }
            }
        }
    }
}
// Clients end

// Carts
.carts {
    background: #fff;
    padding-bottom: 65px;

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 46px;
        margin-bottom: 60px;

        @include media(1100) {
            flex-direction: column;
            gap: 30px;
            margin-bottom: 30px;
        }

        &_content {
            padding-top: 108px;

            @include media(1100) {
                padding-top: 60px;
            }
        }

        &_img {
            width: 336px;
            flex-shrink: 0;

            @include media(1100) {
                width: 100%;
                text-align: center;
            }

            img {
                width: 100%;

                @include media(1100) {
                    width: auto;
                }
            }
        }
    }

    .sm_line {
        margin: 30px 0 43px;
    }

    &__description {
        font-size: 32px;
        font-weight: 600;

        @include media(1100) {
            font-size: 24px;
        }
    }

    &__hash {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 77px;

        @include media(1100) {
            margin-bottom: 60px;
        }

        a {
            padding: 20px 25px;
            border-radius: 25px;
            background: $color-light-100;
            color: $color-black-100;
            font-size: 24px;
            font-weight: 600;
            transition: .3s ease all;
            
            @include media(1100) {
                font-size: 20px;
                border-radius: 20px;
            }

            &:hover {
                background: $color-black-100;
                color: #fff;
            }
        }
    }

    .swiper {
        overflow: visible;
        margin: 0 0 40px;
        width: 419px;

        @include media(576) {
            width: 100%;
        }
    }

    &__card {
        width: 419px;
        height: 350px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
        border-radius: 20px;
        z-index: 1;

        @include media(576) {
            width: calc(100vw - 40px);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(to bottom, rgba(14, 21, 54, 0.1), #000000);
            border-radius: 20px;
        }
    
        .main_img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
            border-radius: 20px;
        }

        &_head {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;

            a {
                padding: 11px 13px 10px;
                color: $color-black-100;
                background: #fff;
                border-radius: 10px;
                font-size: 16px;
                font-weight: bold;
                font-family: $font-raleway;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }

        &_foot {
            color: #fff;
            display: flex;
            align-items: flex-end;
            gap: 47px;

            h3 {
                margin-bottom: 12px;
                font-size: 24px;
                font-weight: bold;
                font-family: $font-raleway;
            }

            p {
                font-size: 16px;
                padding-bottom: 7px;
                font-weight: 400;
            }

            a {
                width: 63px;
                height: 63px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.2);
            }
        }

        &:not(.swiper-slide-active) {
            opacity: 0.8;
            
            ul {
                opacity: 0;
            }
        } 
    }

    .swp__navigation {
        .btns {
            button {
                background: $color-light-100;
            }
        }
    }
}

.swp__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(1100) {
        flex-direction: column;
        gap: 36px;
    }

    .btns {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
            width: 80px;
            height: 80px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #fff;
        }
    }

    a {
        display: inline-flex;
        width: auto;
        padding: 20px;
        align-items: center;
        gap: 13px;
        font-weight: 600;
    }
}
// Carts end

// Solution
.solution {
    padding: 69px 0 90px;

    @include media(1100) {
        padding: 20px 0 79px;
    }

    .sm_line {
        margin: 43px 0;

        @include media(1100) {
            margin: 25px 0;
        }
    }

    &__description {
        max-width: 942px;
        font-size: 32px;
        font-weight: 600;
        color: $color-black-100;
        margin-bottom: 60px;

        @include media(1100) {
            margin-bottom: 36px;
            font-size: 24px;
        }
    }

    &_swp {
        width: 420px;
        overflow: visible;
        margin: 0 0 85px;

        @include media(1100) {
            margin-bottom: 36px;
        }

        @include media(576) {
            width: 100%;
        }
    }

    &_card {
        background: #fff;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .1);

        &__head {
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            height: 280px;
            position: relative;

            @include media(1100) {
                height: 240px;
            }

            .main_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            ul {
                position: absolute;
                top: 20px;
                left: 20px;
                width: calc(100% - 40px);
                display: flex;
                align-items: center;
                gap: 12px;

                @include media(1100) {
                    display: none !important;
                }

                a {
                    padding: 10px 14px;
                    border-radius: 10px;
                    font-family: $font-raleway;
                    font-size: 16px;
                    font-weight: bold;
                    background: rgba(255, 255, 255, 0.8);
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        &__body {
            padding: 20px 26px 26px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include media(1100) {
                gap: 17px;
                padding: 17px 22px 22px;
            }

            h3 {
                font-size: 24px;
                font-weight: bold;
            }

            .links {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                a {
                    font-family: $font-raleway;
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    padding: 10px 21px;
                    border-radius: 10px;
                    background: $color-blue-200;

                    @include media(1100) {
                        padding: 9px 14px;
                        font-size: 14px;
                    }
                }
            }

            .datas {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @include media(1100) {
                    gap: 8px;
                }

                li {
                    font-size: 18px;
                    font-weight: 600;
                    color: #000;

                    @include media(1100) {
                        font-size: 16px;
                    }
                }
            }

            .btns {
                display: flex;
                flex-direction: column;
                gap: 12px;
                
                @include media(1100) {
                    gap: 10px;
                }

                .btn_darkblue {
                    font-size: 20px;
                    padding: 19px 31px;
                    font-size: 20px;
                    justify-content: flex-start;
                    gap: 31px;

                    @include media(1100) {
                        padding: 14px;
                        border-radius: 15px;
                    }
                }
            }
        }

        &:not(.swiper-slide-active) {
            opacity: 0.5;

            .solution_card__head ul {
                display: none;
            }
        }
    }
}
// Solution end

// Build
.build {
    padding: 70px 0 231px;
    background: #fff;

    @include media(1100) {
        padding: 30px 0;
    }

    &__title {
        max-width: 947px;
        font-size: 64px;
        margin-bottom: 25px;

        @include media(1100) {
            font-size: 32px;
        }
    }

    .sm_line {
        margin: 0 0 24px;

        @include media(1100) {
            margin-bottom: 34px;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 156px;

        @include media(1400) {
            gap: 62px;
        }

        @include media(1100) {
            flex-direction: column;
        }

        &_left {
            p {
                color: $color-blue-200;
                font-size: 36px;
                font-weight: 600;

                @include media(1100) {
                    font-size: 24px;
                }
                
                span {
                    display: inline;
                    color: $color-green-100;
                }
            }

            h3 {
                font-size: 48px;
                font-weight: bold;
                font-family: $font-raleway;
                margin: 48px 0 67px;
                color: $color-black-100;

                @include media(1100) {
                    margin: 25px 0;
                    font-size: 32px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 35px;

                @include media(1100) {
                    gap: 25px;
                }

                p {
                    margin-top: 25px;
                }
            }
        }

        &_right {
            width: 530px;
            flex-shrink: 0;

            @include media(-1400) {
                transform: translateY(-62px);
            }

            @include media(1400) {
                width: 500px;
            }

            @include media(1100) {
                width: 100%;
            }
        }
    }
}
// Build end

// Move
.move {
    padding: 79px 0;

    @include media(1100) {
        padding: 40px 0 120px;
    }

    .sm_line {
        margin: 25px 0 40px;

        @include media(1100) {
            display: none;
        }
    }

    &__description {
        font-size: 36px;
        font-weight: 600;
        color: $color-blue-400;
        margin-bottom: 55px;

        @include media(1100) {
            margin: 25px 0;
            font-size: 32px;
        }
    }

    ul {
        display: flex;
        gap: 43px;

        @include media(1100) {
            flex-direction: column;
            gap: 35px;
        }

        li {
            width: calc(100% / 3 - 86px / 3);

            @include media(1100) {
                width: 100%;
            }
        }

        .img {
            height: 60px;
        }

        h3 {
            font-family: $font-raleway;
            font-size: 36px;
            font-weight: bold;
            line-height: 116.9%;
            margin: 10px 0 38px;

            @include media(1100) {
                margin: 10px 0 20px;
                font-size: 32px;
            }
        }

        .texts {
            border-radius: 20px;
            background: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 23px;
            font-size: 24px;
            font-weight: 400;
            line-height: 116.9%;
        }
    }
}
// Move end

// Help
.help {
    background: #fff;
    padding-top: 90px;

    .sm_line {
        margin: 40px 0;

        @include media(1100) {
            margin: 25px 0;
        }
    }

    &__description {
        font-size: 36px;
        font-weight: 600;
        color: $color-blue-400;
        line-height: 116.9%;
        margin-bottom: 73px;

        @include media(1100) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }

    ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 43px;

        @include media(1100) {
            gap: 30px;
        }

        li {
            width: calc(100% / 3 - 86px / 3);

            @include media(1100) {
                width: 100%;
            }
        }
    }

    &__networks {
        h3 {
            font-family: $font-raleway;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 32px;
            color: #000;

            @include media(1100) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }

        &_card {
            background: $color-light-100;
            padding: 23px 30px 30px;
            border-radius: 20px;
            margin-bottom: 32px;

            @include media(1100) {
                padding: 20px;
                margin-bottom: 20px;
            }
            
            p {
                font-size: 24px;
                font-weight: 400;
                color: $color-black-100;
                margin-bottom: 17px;

                @include media(1100) {
                    font-size: 20px;
                }
            }

            a {
                font-size: 32px;
                font-weight: bold;
                color: $color-black-100;
                margin-bottom: 3px;

                @include media(1100) {
                    font-size: 24px;
                }
            }

            h4 {
                font-size: 20px;
                font-weight: 600;
                color: $color-black-100;
                position: relative;
                padding-left: 15px;

                @include media(1100) {
                    font-size: 18px;
                }

                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $color-green-100;
                }
            }
        }

        .btns {
            display: flex;
            flex-direction: column;
            max-width: 331px;
            gap: 20px;

            .btn_darkblue {
                gap: 25px;
                justify-content: flex-start;
                font-size: 20px;
                padding: 14px 20px;
            }
        }
    }

    &__card {
        h3 {
            margin: 10px 0 20px;
            font-family: $font-raleway;
            font-size: 32px;
            font-weight: bold;
            color: #000;

            @include media(1100) {
                font-size: 24px;
            }
        }

        .texts {
            background: $color-light-100;
            border-radius: 20px;
            padding: 20px 30px 29px 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 24px;
            font-weight: 400;
            color: #000;

            @include media(1100) {
                font-size: 20px;
            }
        }
    }
}
// Help end

// Legal
.legal {
    background: #fff;
    padding: 57px 0 166px;

    @include media(1100) {
        padding: 50px 0 80px;
    }

    &__description {
        font-size: 36px;
        font-weight: 400;
        margin: 20px 0 74px;
        color: $color-blue-200;

        @include media(1100) {
            font-size: 24px;
            margin: 20px 0;
        }
    }

    ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 45px;

        @include media(1100) {
            gap: 30px;
        }
    }

    &__card {
        width: calc(100% / 3 - 30px);
        position: relative;
        z-index: 1;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px;

        @include media(1100) {
            width: 100%;
            height: 240px;
            padding: 20px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
            background: linear-gradient(to bottom, rgba(14, 21, 54, 0.1), #000);
            z-index: -1;
        }
    
        .main_img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        .alert {
            display: inline-block;
            background: #fff;
            border-radius: 10px;
            padding: 5px 13px 6px;
            color: $color-black-100;
            font-family: $font-raleway;
            font-size: 16px;
            font-weight: bold;
        }

        &_foot {
            color: #fff;
            display: flex;
            align-items: flex-end;
            width: 100%;
            justify-content: space-between;
            gap: 12px;

            h3 {
                font-size: 24px;
                font-weight: bold;
                font-family: $font-raleway;
                margin-bottom: 10px;

                @include media(1100) {
                    font-size: 22px;
                }
            }

            p {
                font-size: 16px;
                font-weight: 400;

                @include media(1100) {
                    font-size: 14px;
                }
            }

            a {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.4);
            }
        }
    }
}
// Legal end

// FAQ
.faq {
    padding: 68px 0 118px;

    @include media(1100) {
        padding: 40px 0 87px;
    }

    &__container {
        position: relative;
    }

    h2 {
        @include media(-1100) {
            padding-right: 260px;
        }
    }

    .sm_line {
        margin: 38px 0 40px;

        @include media(1100) {
            margin: 21px 0 36px;
        }
    }

    &__description {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 600;
        line-height: 116.9%;
        color: $color-blue-400;

        @include media(1100) {
            margin-bottom: 36px;
            font-size: 24px;
        }
    }

    .swiper {
        overflow: visible;
    }

    &__card {
        img {
            width: 60px;

            @include media(1100) {
                width: 40px;
            }
        }

        h3 {
            margin: 20px 0 31px;
            font-size: 36px;
            font-family: $font-raleway;
            font-weight: bold;
            line-height: 116.9%;
            color: $color-black-100;

            @include media(1100) {
                margin: 15px 0 41px;
                font-size: 32px;
            }
        }

        .text {
            background: #fff;
            border-radius: 20px;
            padding: 20px;

            p {
                margin-bottom: 18px;
                font-size: 24px;
                font-weight: 400;
                line-height: 116.9%;
                color: #000;

                @include media(1100) {
                    margin-bottom: 10px;
                }
            }

            a {
                color: $color-green-100;
                font-size: 20px;
                font-weight: 600;
                line-height: 116.9%;
            }
        }
    }

    .swp__navigation {
        @include media(1100) {
            margin-top: 84px;
        }
    }

    .swiper-pagination {
        display: none;

        @include media(1100) {
            top: auto;
            bottom: -46px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 6px;

            span {
                opacity: 0.5;
                margin: 0 !important;
                padding: 0;
                width: 10px;
                height: 10px;
                background: $color-green-100;

                &.swiper-pagination-bullet-active {
                    width: 15px;
                    height: 15px;
                    opacity: 1;
                }
            }
        }
    }

    .btns {
        @include media(-1100) {
            display: none !important;
        }
    }

    .btn_darkblue {
        font-size: 20px;
        gap: 24px;
        padding: 24px 30px 23px;
        
        @include media(-1100) {
            position: absolute;
            top: 25px;
            right: 0;
        }
    }
}
// FAQ end

// Rental home
.rental_home {
    padding-top: 83px;
    margin-bottom: 80px;

    @include media(1100) {
        padding-top: 26px;
        margin-bottom: 43px;
    }

    &__link {
        display: inline-flex;
        width: auto;
        padding: 24px 40px;
        margin-bottom: 40px;
        font-size: 20px;

        @include media (1100) {
            margin-bottom: 25px;
            font-size: 16px;
            padding: 15px 37px 16px;
        }
    }

    .home {
        &__content {
            @include media(-1100) {
                flex-direction: row-reverse;
            }
        }

        &__card {
            &_networks {
                @include media(1100) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
    
                    li:last-child {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-left: 0;
                        margin-top: -3px;
                    }
                }
            }

            .btn_darkblue {
                text-align: center;
                padding: 24px 20px 20px;
            }
        }
    }
}
// Rental home end

// Delivery
.delivery {
    background: $color-black-100;
    padding: 91px 0 113px;

    @include media(1100) {
        padding: 39px 0 83px;
    }

    &__container {
        display: flex;
        align-items: flex-start;

        @include media(1100) {
            flex-direction: column;
        }
    }

    &__left {
        width: 881px;
        flex-shrink: 0;

        @include media(1350) {
            width: 750px;
        }

        @include media(1100) {
            width: 100%;
        }
    }

    &__right {
        width: 100%;
    }

    h2 {
        color: #fff;
        margin-top: 3px;

        @include media(1100) {
            margin-top: 20px;
        }
    }

    .sm_line {
        margin: 53px 0 37px;

        @include media(1100) {
            margin: 36px 0 25px;
        }
    }

    p {
        color: $color-blue-300;
        font-size: 32px;
        font-weight: 400;

        @include media(1100) {
            font-size: 24px;
        }
    }
}
// Delivery end

// Discount
.discount {
    padding: 69px 0 90px;

    @include media(1100) {
        padding: 20px 0 43px;
    }

    .sm_line {
        margin: 43px 0;

        @include media(1100) {
            margin: 25px 0;
        }
    }

    &__description {
        color: $color-black-100;
        font-size: 32px;
        margin-bottom: 60px;

        @include media(1100) {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
}
// Discount end

// Supply
.supply {
    background: $color-black-100;
    padding: 123px 0 81px;

    @include media(1100) {
        padding: 39px 0 71px;
    }

    &__top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include media(1100) {
            flex-direction: column;
        }

        &_content {
            width: 629px;

            @include media(1100) {
                width: 100%;
            }
        }

        &_texts {
            width: 560px;

            @include media(1100) {
                width: 100%;
            }

            a {
                font-family: $font-raleway;
                color: $color-green-100;
                text-decoration: underline;
                font-size: 32px;

                @include media(1100) {
                    font-size: 24px;
                }
            }
        }
    }

    &__title {
        color: #fff;
        font-size: 48px;
        margin-top: 20px;

        @include media(1100) {
            font-size: 32px;
        }
    }

    .sm_line {
        margin: 70px 0 37px;

        @include media(1100) {
            margin: 36px 0 25px;
        }
    }

    &__description {
        font-size: 24px;
        color: $color-blue-300;
        margin-bottom: 37px;

        @include media(1100) {
            margin-bottom: 40px;
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-start;
        margin-top: 107px;

        @include media(1300) {
            flex-direction: column;
            gap: 35px;
        }

        @include media(1100) {
            margin-top: 59px;
        }
    }

    &__card {
        background: #fff;
        border-radius: 20px;
        padding: 41px 48px 38px 42px;
        color: $color-black-100;

        @include media(1100) {
            width: 100%;
            text-align: center;
            padding: 38px 28px 38px 42px;
        }

        h3 {
            font-size: 24px;
            font-weight: bold;
            margin: 22px 0 16px;
            text-align: left;
        }
        
        p {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
            text-align: left;
        }

        .tel {
            font-size: 24px;
            font-weight: bold;
            text-align: left;
            width: 100%;
        }

        h4 {
            font-size: 16px;
            font-weight: 600;
            padding-left: 19px;
            position: relative;
            margin-bottom: 34px;text-align: left;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 11px;
                height: 11px;
                background: $color-green-100;
                border-radius: 50%;
            }
        }

        &_links {
            display: flex;
            flex-direction: column;
            gap: 13px;

            a {
                font-size: 20px;
                font-family: $font-raleway;
            }

            .btn_darkblue {
                padding: 14px 20px;
                gap: 20px;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        padding-top: 9px;
        width: 338px;
        gap: 13px;

        @include media(1100) {
            width: 100%;
        }

        &:nth-child(2) {
            margin: 0 190px 0 120px;

            @include media(1450) {
                margin: 0 50px;
            }

            @include media(1300) {
                margin: 0;
            }
        }

        a {
            color: $color-blue-300;
            font-size: 24px;
        }

        .title {
            font-family: $font-raleway;
            font-size: 36px;
            text-decoration: underline;
            color: #fff;

            &:not(:first-child) {
                margin: 13px 0 2px;
            }
        }
    }
}
// Supply end

// Dropdown
.dropdown {
    background: $color-light-100;
    border-radius: 20px;
    padding: 25px 36px 9px 35px;

    @include media(1100) {
        padding: 18px 20px;
    }

    &_head {
        display: flex;
        align-items: center;
        gap: 9px;
        width: 100%;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        color: $color-black-100;
        padding-bottom: 16px;

        @include media(-1100) {
            .icon {
                display: none;
            }
        }

        @include media(1100) {
            position: relative;
            padding-bottom: 0;
            font-size: 20px;
            gap: 20px;

            .icon {
                position: absolute;
                right: 0;
                top: 5px;
            }
        }

        &.active {
            @include media(1100) {
                .icon {
                    transform: rotateZ(-90deg);
                }
            }
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0 52px;
        border-top: 1px solid rgba(0, 0, 0, .5);

        @include media(1100) {
            margin-top: 22px;
            padding: 22px 0 17px;
            gap: 22px;

            &:not(.active) {
                display: none;
            }
        }

        input {
            display: none;
        }

        label {
            font-size: 24px;
            font-weight: 600;
            color: rgba(14, 21, 54, 0.5);
            width: 100%;
            user-select: none;
            cursor: pointer;
            position: relative;

            @include media(1100) {
                padding-left: 39px;
                min-height: 25px;
                color: $color-black-100;
                font-size: 20px;

                &::before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    background: #fff;
                    border: 2px solid rgba(105, 116, 140, 0.5);
                }

                &::after {
                    content: '\2713';
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    font-size: 20px;
                    display: none;
                }
            }
        }

        input:checked + label {
            @include media(-1100) {
                color: $color-black-100;
                text-decoration: underline;
            }

            @include media(1100) {
                &::after {
                    display: block;
                }
            }
        }

        .show {
            .btn_darkblue {
                font-size: 20px;
                padding: 18px 0 19px;
                width: 100%;
            }

            @include media(-1100) {
                display: none;
            }
        }
    }
}
// Dropdown end

// Breadcrumb
.breadcrumb {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    padding: 14px 26px;
    background: $color-light-100;
    border-radius: 15px;
    font-size: 20px;

    @include media(1100) {
        width: 100%;
        justify-content: center;
    }

    a {
        @include media(1100) {
            font-weight: 400;
        }
    }
}
// Breadcrumb end

// Advice
.advice {
    background: $color-light-100;
    padding: 40px;
    border-radius: 20px;

    @include media(1100) {
        padding: 0;
    }

    &_title {
        color: $color-black-100;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;

        @include media(1100) {
            margin-bottom: 0;
            padding: 19px 20px 17px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 20px;
            position: relative;

            .icon {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.active {
                padding: 40px 24px 16px;

                img:not(.icon) {
                    display: none;
                }

                .icon {
                    top: 20px;
                    transform: rotateZ(-90deg);
                }
            }
        }

        @include media(-1100) {
            img {
                display: none !important;
            }
        }
    }

    &_body {
        @include media(1100) {
            padding: 0 27px 40px 23px;

            &:not(.active) {
                display: none;
            }
        }
    }

    &_subtitle {
        color: $color-black-100;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
    }

    .contact-tel {
        margin-bottom: 20px;
    }

    .btn_darkblue {
        font-size: 20px;
        padding: 14px 20px;
        justify-content: flex-start;
        gap: 20px;
    }
}
// Advice end

// Contact tel
.contact-tel {
    a {
        color: $color-black-100;
        font-size: 24px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        color: $color-black-100;
        position: relative;
        padding-left: 19.15px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10.64px;
            height: 10.64px;
            border-radius: 50%;
            background: $color-green-100;
        }
    }
}
// Contact tel end

// Car slide
.car-slide {
    .swiper {
        padding: 0 10px 28px;
        width: calc(100% + 20px);
        margin-left: -10px;

        &-slide {
            position: relative;
            z-index: 1;
            border-radius: 20px;
            height: 280px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 30px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .25);

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                z-index: -1;
                background: linear-gradient(to bottom, rgba(14, 21, 54, 0.1), #000);
            }

            .main_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            span {
                border-radius: 10px;
                background: #fff;
                font-family: $font-raleway;
                font-size: 16px;
                color: $color-black-100;
                font-weight: bold;
                padding: 5px 14px 6px;
            }

            a {
                width: 50px;
                height: 50px;
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 25px;
                right: 25px;
            }

            h3 {
                font-family: $font-raleway;
                color: #fff;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 16px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: #fff;
            }
        }

        &-pagination {
            gap: 6px;
            display: flex;
            justify-content: center;

            span {
                padding: 0;
                margin: 0 !important;
                background: $color-blue-200;
                opacity: 0.5;
                height: 6px;
                width: 31px;
                border-radius: 5px;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}
// Car slide end

// Catalog
.catalog {
    background: #fff;
    min-height: 100vh;
    padding: 47px 0 131px;

    @include media(1100) {
        padding: 30px 0 42px;
    }

    &__head {
        margin-bottom: 20px;

        @include media(-1100) {
            display: none;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        gap: 62px;

        @include media(1300) {
            gap: 40px;
        }

        @include media(1100) {
            flex-direction: column;
        }
    }

    &__left {
        width: 400px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include media(1300) {
            width: 390px;
        }

        @include media(1100) {
            width: 100%;
            gap: 20px;

            .car-slide {
                display: none;
            }
        }
    }

    &__right {
        width: 100%;

        .catalog__head {
            display: block;
            margin-bottom: 60px;

            @include media(1100) {
                display: none;
            }
        }
    }

    &__title {
        margin: 40px 0 10px;

        @include media (1100) {
            margin: 20px 0 2px;
            text-align: center;
        }
    }

    &__description {
        font-size: 32px;
        font-weight: 400;
        color: $color-blue-400;

        @include media(1100) {
            font-size: 20px;
            text-align: center;
        }
    }

    &__block {
        margin-bottom: 50px;

        @include media(1100) {
            margin-bottom: 30px;
        }
        
        &_title {
            font-family: $font-raleway;
            font-size: 48px;
            color: #000;
            font-weight: bold;
            margin-bottom: 36px;

            @include media(1100) {
                font-size: 36px;
                text-align: center;
                margin-bottom: 40px;
            }
        }

        &_list {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 50px;

            @include media(1300) {
                gap: 30px;
            }
        }

        .solution_card {
            opacity: 1;
            width: calc(50% - 25px);

            @include media(1300) {
                width: calc(50% - 15px);
            }

            @include media(1100) {
                width: 100%;
            }
        }
    }
}
// Catalog end

// Service
.service {
    background: #fff;
    min-height: 100vh;
    padding: 56px 0 45px;

    &_head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 50px;

        a {
            font-size: 20px;
            font-weight: 400;
            background: $color-light-100;
            padding: 14px 20px;
            border-radius: 15px;
            color: $color-black-100;
        }

        span {
            font-size: 20px;
            font-weight: bold;
            padding: 14px 22px;
            background: $color-light-100;
            border-radius: 15px;
            color: $color-black-100;
        }
    }

    &_content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 51px;
        margin-bottom: 39px;

        &__left {
            width: calc(100% - 451px);
            display: flex;
            gap: 25px;


            .swp {
                &_left {
                    width: 136px;
                    height: 536px;
                    flex-shrink: 0;

                    .swiper-slide {
                        border-radius: 15px;
                        overflow: hidden;
                        opacity: 0.8;
                        position: relative;

                        &.swiper-slide-thumb-active {
                            button {
                                display: flex;
                            }
                        }
                    }

                    .main_img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: none;
                        align-items: center;
                        justify-content: center;
                        background: rgba(14, 21, 54, 0.5);
                    }
                }

                &_right {
                    width: calc(100% - 161px);
                    position: relative;

                    .swiper {
                        width: 100%;
                        height: 536px;
                        border-radius: 15px;

                        &-slide {
                            border-radius: 15px;
                            overflow: hidden;
                        }
    
                        img {
                            width: 100%;
                        }
                    }
                }

                &_btn {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    position: absolute;
                    z-index: 2;
                    left: 20px;
                    bottom: 20px;

                    button {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;
                        background: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }

        &__right {
            width: 400px;
            flex-shrink: 0;

            &_block {
                background: #fff;
                box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
                border-radius: 20px;
                padding: 30px 30px 40px;

                .btn_darkblue {
                    margin-bottom: 10px;
                    gap: 26px;
                }

                .btn_light {
                    margin-bottom: 25px;
                }

                h4 {
                    color: $color-green-100;
                    font-size: 20px;
                    padding-left: 21px;
                    position: relative;
                    margin-bottom: 25px;

                    &::before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $color-green-100;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 33px;

                    li {
                        color: $color-black-100;
                        font-size: 20px;
                    }
                }

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }

    &_body {
        display: flex;
        align-items: flex-start;
        gap: 51px;
        margin-bottom: 64px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 53px;

            span {
                font-size: 40px;
                line-height: 54px;
                color: $color-black-100;
                font-weight: bold;
            }

            .btn_darkblue {
                display: inline-flex;
                padding: 13px 17px 12px;
                width: auto;
                font-size: 18px;
                line-height: 25px;
                font-weight: bold;
                border-radius: 15px;
            }
        }

        &__left {
            width: calc(100% - 451px);
            
            .characteristic {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 38px;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 13px;
                    color: $color-blue-200;
                    font-size: 24px;
                    line-height: 33px;
                }
            }

            .links {
                display: flex;
                flex-direction: column;
                gap: 20px;

                a {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    background: $color-light-100;
                    padding: 16px 25px 17px 23px;
                    border-radius: 20px;
                    font-size: 20px;
                    line-height: 27px;
                    color: #000;
                }
            }
        }

        &__right {
            width: 400px;
            flex-shrink: 0;

            .advice {
                &_title {
                    display: flex;
                    align-items: center;
                    width: calc(100% + 30px);
                    margin-left: -15px;
                    position: relative;
                    padding-right: 25px;
                    gap: 15px;
                    font-size: 20px;
                    line-height: 27px;

                    img {
                        display: inline-block !important;
                        
                        &:last-child {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

    .review {
        width: calc(100% - 451px);

        .title {
            font-size: 36px;
            line-height: 49px;
            font-weight: bold;
            color: $color-black-100;
            margin-bottom: 23px;
        }

        textarea {
            width: 100%;
            height: 230px;
            background: $color-light-100;
            border-radius: 20px;
            resize: none;
            padding: 20px;
            font-size: 20px;
            color: $color-black-100;
        }
    }
}
// Service end